<div >
    <p></p>

</div>
<div class="container">
		<div class="row"  style="padding-top: 12%">
			<div class="col-lg-8" >
				<img src={{selectedProduct.images[0]}} class="img-responsive">
			</div>
			<div class="col-lg-4 c " style="padding-left: 20px; padding-top: 10px" >
			<h5>{{selectedProduct.name}}</h5>
				<h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud.</h6>
				<h5>LENSKART PRICE</h5>
        {{selectedProduct.price}}
				<hr>
				<div class="box"><button class="btn-warning">BUY NOW</button></div>
 				<div class="box"><button class="btn-warning"> ADD TO CART</button></div>

 				<hr>

			</div>

		</div>
	</div>
